body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: gray;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0;
    color: white;
}

.header p {
    margin: 5px 0;
    color: white;
}

.content h2 {
    margin-top: 20px;
    color:white;
}

.content p {
    line-height: 1.6;
    color: white;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
    color: white;
}
